@use 'config' as *;
@forward 'config';

@mixin b($block){
    $B: $namespace + '-' + $block;
    .#{$B}{
        @content;
    }
}

@mixin when($state){
    @at-root{
        &.#{$state-separator + $state} {
            @content;
        }
    }
}

// &--primiar => .z-button--primary
@mixin m($modifier){
    @at-root{
        #{& + $modifier-separator + $modifier}{
            @content;
        }
    }
}

// &__primary => .z-button__primary
@mixin e($element){
    @at-root{
        #{& + $element-separator + $element}{
            @content;
        }
    }
}

@mixin button-variant($color,$background-color,$border-color) {
    color:$color;
    background: $background-color;
    border-color: $border-color;
}